# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6
print(number)

6

##### Assinging float

In [3]:
numberFloat = 2.3
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [7]:
num1 = 2
num2 = 5.4
result = num1 + num2
print(result)

# result += 2
print(result + 2)

7.4
9.4

##### Subtraction

In [10]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff - 1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [12]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [14]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [16]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [20]:
result_mod = 13 % 2
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [22]:
square = 5 ** 2
print(square)

square **=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [24]:
name = "Greg"
print(name)

Greg

##### print() <br>
<p>Don't forget about end=' '</p>

In [28]:
print("This is my first name:", name)
print("Full Name: ", name, end= " Oyler")

This is my first name: Greg
Full Name:  Greg Oyler

##### String Concatenation

In [30]:
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

full_name += ", Jr"
print(full_name)

John Smith
John Smith, Jr

##### Type Conversion

In [32]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num + 1)

32
33

##### input()

In [36]:
# Input will always return a string

name= input("What is your name?")
print("Nice to meet you, ", name)

age = int(input("What is your age? "))
add_age = age + 5
print(add_age)

What is your name?Greg
Nice to meet you,  Greg
What is your age? 42
47

##### format()

In [39]:
age = input("What is your age? ")
result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

What is your age? 42
You are 42 Greg and you are getting wiser!
42 is a great time in life!!!

##### Old Way (python 2)

In [42]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 42 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [47]:
name_uprovided = input("What is your name? ")
name = name_uprovided.title()
color_uprovided = input("What color is your vehicle? ")
year_uprovided = input("What year is your vehicle?")
make_uprovided= input("What is the make of your vehicle? ")
make = make_uprovided.title()
model_uprovided = input("What is your vehicle's model? ")
model = model_uprovided.title()
vehicle_info = "{}, your vehicle is a {} {} {} {}.".format(name, color, year, make, model)

print(vehicle_info)

What is your name? greg
What color is your vehicle? gray
What year is your vehicle?2021
What is the make of your vehicle? hyundai
What is your vehicle's model? tucson
Greg, your vehicle is a grey 2021 Hyundai Tucson.

### If Statements

In [58]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F
num1 = 5
num2 = 10
num3 = 0
# if num1 == num2:
#     print("Equal")
# else:
#     print("That thing was not true! It is false!")

if num2 > num1 or num3 > 0:
    print("Num2 is greater")
elif num1 > num2:
    print("Num 1 is greater")
else: 
    print("Equal value")

Num2 is greater

##### 'is' keyword

In [35]:
# The is keyword is for checking for the same object, but not the same value

num3 = 55
if num3 is 55:
    print("This is the exact number/object")

This is the exact number/object

<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\grego\AppData\Local\Temp\ipykernel_30508\1367576132.py:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [62]:
# check if a character is in a string

char_name = "Frodo Baggins"
if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [64]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print("A is not here...")

A is not here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [70]:
name_uprovided = input("What is your name? ")
name= name_uprovided.title()

if 'p' in name:
    print("Your name has a P in it!")
else:
    print("There are no P's in your name.")

What is your name? Pepper Potts
Your name has a P in it!

## Using 'and'/'or' with If Statements

In [73]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
if num_11 > num_12 or num_13 == num_14:
    print("One of these is true")

True and True
One of these is true

### Elif Statements

In [76]:
first_name = input("what is your name? ")

if first_name == "Smith":
    print("the name is Smith.")
elif first_name == "Brandon":
    print("The name is Brandon")
elif first_name != "Max":
    print("The name is NOT Max")
else:
    print("the name is Max")

what is your name? Greg
The name is NOT Max

### Else Statements

In [ ]:
# see above

### For Loops

In [77]:
# syntax
# for counter in condition

name= "Brandon Apol"
for letter in name:
    print(letter)

B
r
a
n
d
o
n

A
p
o
l

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [79]:
for i in range(20):
    if i ==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [80]:
for i in range(20):
    if i ==5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [81]:
for i in name:
    pass

##### Double For Loops

In [82]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ",j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [84]:
num = 0
while num < 10:
    print(num)
    num +=1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [87]:
game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input("Would you like to stop? ")
    if user_input == 'yes':
        game_over = False

Infinite Loop
Would you like to stop? yes

##### While & For Loops Used Together

In [88]:
num = 0

while num < 5:
    print("\n While loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i))
        
    num += 1

 While loop iteration: 0
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 1
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 2
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 3
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 4
For loop iteration:  0
For loop iteration:  1

### Built-In Functions

##### range()

In [92]:
# range (start,stop, step)

for i in range(1, 20, 3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [94]:
name = input("Give me the name of your favorite book: ")
length = len(name)
print(length)

Give me the name of your favorite book: lord of the rings
17

##### help()

In [96]:
# use this function to view more info on a python function

help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [103]:
# check a variable to find out what object family or data type it belons to
# isinstance (var, type)

num = input("Pick a number ")

if isinstance (num, int):
    print(f"{num} is an int")
else: 
    print(f"{num} is a float")

Pick a number 3.14
3.14 is a float

##### abs()

In [104]:
# |-5| = 5

print(abs(-5))

5

### Try and Except

In [109]:
#use this to log out graceful and useful error messages
#does not stop program

try:
    number_test = 0
    input_num = int(input("Guess a number "))
    print("your number is " + str(input_num))
except:
    print("That didn't work. Change your input to a number!")

Guess a number 4.5
That didn't work. Change your input to a number!

### Lists

##### Declaring Lists

In [3]:
list_1= []
names = ['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

##### Indexing a List

In [9]:
#list_name[start: stop: step]

#single index

print(names[0])

#print starting at index 1 going to the end

print(names[1:])

#print starting at the beginning of a list up to a number
print(names[:2])

#prinbt starting at index 1 and going up by 2 in each iteration
print(names[1::2])

#print starting at back and display in reverse order
print(names[::-1])

Max
['Cindy', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'Bob']
['Nate', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [17]:
names.append('Brandon')
print(names)

['Max', 'Cindy', 'Nate', 'Brandon', 'Brandon', 'Brandon']

##### .insert()

In [20]:
names.insert(3, 'Devon')
print(names)

['Max', 'Cindy', 'Nate', 'Devon']

##### .pop()

In [13]:
#defaults to last value if no parameter given
# pop removes the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

Devon
['Max', 'Cindy', 'Bob', 'Nate', 'Brandon']


##### .remove()

In [21]:
# value to be removed rather than index number
# names.remove('Bob')
# print(names)
while 'Brandon' in names:
    names.remove('Brandon')
print(names)

['Max', 'Cindy', 'Nate', 'Devon']

##### del()

In [22]:
#goes by index, not value
# be careful with del, it can cause indexing errors if not used carefully
del(names[1])
print(names)

['Max', 'Nate', 'Devon']

##### Concatenating Two Lists

In [28]:
#will append two lists together, does not add values

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]
large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [27]:
#lists can hold any time of other element, including other lists
#they can go as deep as you want, this is called nested lists
names = ['max', 'sam', 'josh', ['sally', ['sue', 'jim'], 'tameka']]
print(names)
print(names[3][1][1])

['max', 'sam', 'josh', ['sally', ['sue', 'jim'], 'tameka']]
jim

##### Looping Through Lists

In [32]:
# two ways to loop through a list, one is by index; the other is by using the 'in' keyword

#by index
for i in range(len(names)):
    print(names[i])
# loop with 'in'
for i in names:
    print(i)

max
sam
josh
['sally', ['sue', 'jim'], 'tameka']
max
sam
josh
['sally', ['sue', 'jim'], 'tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [111]:
for i in range(1000):
    cubes = i ** 3
    if cubes <= 1000:
        print(cubes)
    else: 
        break

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [38]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# establish range (2-101)
# determine if number is divisible by any whole numbers within range other than itself (modulo = 0)
# loop through range
# print satisfying values

for num in range(2, 101):
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [44]:
# get user provided age (int)
# if kid
# elif adult
# else senior

age = input("How old are you?")
age = int(age)
if age < 18:
    print("kids")
elif age <= 65:
    print("adults")
else: 
    print("seniors")

How old are you? 18

adults